@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

body {
    background-color: #012E40;
}

main {
    background-color: rgb(189, 189, 189);
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
}

p {
    text-align: justify;
}
h1 {
    color: #012E40;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
h2 {
    color: #026773;
}